<div class="col-lg-3">
    <!-- Admins -->
      <div style="background-color: rgba(35, 39, 42,0.6); border-radius: 5px;">
        <h1> Administrators </h1>
        <ul class="list-unstyled" style="padding-left: 5px">
            <%- include("../partials/staffcard", {
              tag: "Dai Lo#4384",
              color: "red",
              bio: "The owner. Nuff said.",
              profile: "https://cdn.discordapp.com/avatars/196870559630360576/5beecb8aec69a8f8883ecfe3d7f9d877.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              tag: "Ares#1145",
              color: "cyan",
              bio: "",
              profile: "https://cdn.discordapp.com/avatars/272666591341051905/ae0aaa8a445a46390072801f854e2dc8.png?size=128"
            }) %>
            <%- include("../partials/staffcard", {
              tag: "Credimiv#2853",
              color: "cyan",
              bio: "",
              profile: "https://cdn.discordapp.com/avatars/110075193614954496/74bb4e2fe6fdad194239b38a0d51effa.png?size=128"
            }) %>
        </ul>
      </div>
    </div>