<li class="media">
    <img class="mr-3" style="width: 5rem; border-radius: 50%;" src="<%= profile %>" alt="Profile">
    <div class="media-body">
      <h5 class="mt-0 mb-1" style="color: <%= color %>"><%= tag %></h5>
      <%= bio %>
    </div>
  </li>
  <hr>