<div class="card text-white" style="background-color: rgba(52, 58, 64, 0.8)">
    <div class="card-body" style="padding: 5px;">
        <span class="mt-0 mb-1" style="color: <%= color %>; float:left;"><%= tag %></span>
        <img style="width: 5rem; border-radius: 50%; float:right;" src="<%= profile %>" alt="Profile pic missing D:">
        <p>
            <br>
            <br>
            <%= bio %>
        </p>
    </div>
</div>
<br>