<%- include("../partials/header.ejs", {page: "index"}) %>

<br>
<center>
    <div style="width: 40rem; text-align:center; background-color: rgba(35, 39, 42,0.6); border-radius: 5px;">
      <!-- color: #f8c902; -->
      <br>
      <h1 style="font-family: 'Quicksand', sans-serif; font-size: 66px; color: #FFFFFF;">
        Nightborn Estate
      </h1>
      <h1 style="font-family: 'Quicksand', sans-serif; font-size: 26px; color: #99AAB5;">
          <span class="">

              We are sleepless, we are restless, we are doers and we are goers; we are NightBorn.<br>
          </span>
          <br>
          <a id="cc" href="https://discord.gg/p5mm5Bj" style="color:#99AABF;">

          </span>
      </h1>
      <br>
    </div>
</center>
<script>
    $.get("https://canary.discordapp.com/api/guilds/300155035558346752/widget.json", function(data) {
      console.log(data)
      var d = data;
      $("#cc").text(d.members.length + " online. Click here to join now.")
    })
  </script>

<%- include("../partials/footer.ejs") %>
